#   BOARD PINS

#   FPGA pins:

# On board yellow LED
set_io LED B6

set_io CLK D1

# USB UART
set_io USB_RX  A3
set_io USB_TX  B3

# Power enables to sub-systems

#   PMOD FULL (PMOD3)

#   FPGA pins:
#
#     ----------
#    | B4    C6 | <
#    | B5    E3 |
#    | E1    C2 |
#    | B1    A1 |
#    | GND  GND |
#    | 3V3  3V3 |
#     ----------
#
set_io --warn-no-port B4 B4
set_io --warn-no-port C6 C6
set_io --warn-no-port B5 B5
set_io --warn-no-port E3 E3
set_io --warn-no-port E1 E1
set_io --warn-no-port C2 C2
set_io --warn-no-port B1 B1
set_io --warn-no-port A1 A1

#   PMOD LEFT (PMOD2)

#   FPGA pins:
#
#     -----
#    | B3  | <
#    | A3  |
#    | B6  |
#    | C5  |
#    | GND |
#    | 3V3 | 
#     -----
#
# WARNING: B6 also drives the LED
set_io --warn-no-port B3 B3
set_io --warn-no-port A3 A3
set_io --warn-no-port C5 C5

# The right PMOD has potentially only one usable pin on it.

#   PMOD RIGHT (PMOD1)

#   FPGA pins:
#
#     -----
#    | 3V3 | <
#    | GND |
#    | A1  |
#    | B1  |
#    | D1  |
#    | E2  | 
#     -----
#
# WARNING: A1 and B1 are duplicated on the PMOD!
# WARNING: D1 is clock input pin
set_io --warn-no-port PMODR1 A1
set_io --warn-no-port PMODR2 B1
set_io --warn-no-port PMODR3 D1
set_io --warn-no-port E2 E2

